$bac-all: #fff;
$btn-bac: rgb(240, 11, 11);
$bac-part: rgba(247, 240, 240, 0.384);
$border: 1px solid rgb(192, 186, 186);
$font-f: Verdana, Geneva, Tahoma, sans-serif;
$font-s: 16px;
$font-s-i: 22px;
$display-f: flex;
$width-head: 100%;
$height-head: 100px;

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-size: $font-s;
}
body {
    background-color: $bac-all;
    font-family: $font-f;
    font-size: $font-s;
    display: $display-f;
    main {
        max-width: 1400px;
    }
}

.heder {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100px;
    border-bottom: $border;

    .logo {
        i {
            position: absolute;
            padding-right: 20px;
            margin: 10px;
            width: 200px;
            font-size: 80px;
            color: $btn-bac;
        }
    }
    .serche_bar {
        padding-right: 35px;
        margin-right: 100px;
        position: absolute;
        right:10px;
        top: 20px;

        input {
            width: 600px;
            height: 50px;
            padding-right: 45px;
            padding-left: 5px;
            outline: none;
            
            border:1px solid rgb(245, 244, 244) ;
            border-radius: 5px;
           
        }
        i {
            position: absolute;
            right: 50px;
            top: 15px;
            font-size: 18px;
            cursor: pointer;
        }
        #show-search {
            width: 600px;
            height: 150px;
            background-color: $bac-part;
            display: none;
            direction: ltr;
            p {
                direction: ltr;
                font-size: 20px;
            }
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    .purchase_records {
        position: absolute;
        left: 60px;
        top: 35px;
        color: $btn-bac;
        a {
            color: $btn-bac;
            i {
                font-size: $font-s-i;
                cursor: pointer;
            }
        }
    }

    .cart {
        position: absolute;
        left: 25px;
        top: 35px;
        color: $btn-bac;

        i {
            font-size: $font-s-i;
            cursor: pointer;
            color: $btn-bac;
            border: none;
            background-color: transparent;
        }
    }
}

.filter {
    width: 250px;
    height: 350px;
    border:1px solid rgb(245, 244, 244) ;
    position: absolute;
    top: 120px;
    right: 18px;
    display: $display-f;
    border-radius: 5px;
    h4 {
        position: absolute;
        top: 15px;
        right: 10px;
        
    }
    .rest-btn {
        position: absolute;
        top: 15px;
        right: 170px;
        border: none;
        cursor: pointer;
        color: $btn-bac;
        font-weight: bold;
        background-color:transparent;
    }
    form {
        #vehicle1 {
            position: absolute;
            top: 110px;
            right: 5px;
        }
        #vehicle2 {
            position: absolute;
            top: 108px;
            right: 25px;
        }
        #vehicle3 {
            position: absolute;
            top: 65px;
            right: 5px;
        }
        #vehicle4 {
            position: absolute;
            top: 62px;
            right: 25px;
        }
    }

    .btn-filter {
        position: absolute;
        top: 280px;
        right: 10px;
        background-color:$btn-bac;
        padding: 12px;
        width: 230px;
        color: $bac-all;
        border: none;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        font-weight: bold;
    }
}

.sort {
    position: absolute;
    width: 700px;
    height: 40px;
    right: 280px;
    top: 120px;
    display: $display-f;
    i {
        position: absolute;
        width: 100px;
        height: 140px;
        top: 2px;
    }
    h3 {
        position: absolute;
        right: 20px;
        top: 1px;
        margin-left: 45px;
    }
    ul {
        display: $display-f;
        margin-right:160px;
        list-style: none;
        li {
            margin-right: 30px;
            cursor: pointer;
        }
        li:hover {
            color: $btn-bac;
        }
    }
}

#products-show {
    position: absolute;
    right: 280px;
    top: 160px;
    display: flex;
    flex-wrap: wrap;
    
    p {
        direction: ltr;
        padding: 10px;
        width: 250px;
        border:1px solid rgb(245, 244, 244) ;
        border-radius: 2px;
    line-height: 2rem;
    }
    p:hover{
        border:2px solid rgb(207, 203, 203);
       } 
    
    img {
        width: 200px;
        height: 200px;
        display: flex;
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .btn-add {
        background-color:$btn-bac;
        padding: 5px;
        width: 51px;
        color: $bac-all;
        border: none;
        border-radius:5px;
        cursor: pointer;
        direction: rtl;
        margin-left: 91px;
    }
    
       
}
#cart-show {
    position: absolute;
    background-color: $bac-part;
    width: 300px;
    max-height: 1000px;
    left: 2px;
    z-index: 2px;
    top: 150px;
    display: none;
    .cart-empty {
        color: $btn-bac;
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    button {
        background-color: transparent;
        color: $btn-bac;
        padding: 5px;
        border: none;
        font-size: large;
    }
    h4 {
        border-bottom: red 2px solid;
        padding-bottom: 1px;
    }
    .cart-display {
        direction: ltr;
        width: 300px;

        img {
            width: 50px;
            height: 50px;
            margin-top: 45px;
        }
        p {
            direction: ltr;
            font-size: 14px;
        }
        .btn-remove {
            position: absolute;

            background-color: $btn-bac;
            padding: 5px;
            width: 200px;
            color: $bac-all;
            border: none;
            border-radius: 20px;
            padding: 10px;
            cursor: pointer;
        }
    }
}
