$bac-all:#fff;
$btn-bac:rgb(219, 77, 77);
$bac-part:rgba(219, 211, 211, 0.384);
$border: 2px solid gray;
$font-f: Verdana, Geneva, Tahoma, sans-serif;
$font-s:16px;
$font-s-i:25px;

$display-f:flex;
$width-head:100%;
$height-head:150px;

*{
   margin:0;
   padding:0;
   direction: rtl;
   font-size: $font-s;
}
 body{
   background-color: $bac-all;
   font-family:$font-f;
   font-size: $font-s;
   display: $display-f;
   main{
        max-width:1400px;
   }
 }
 
 .heder{
   display: flex;
   position: absolute;
   width:100%;
   height:$height-head;
   border-bottom: $border;
  
   .logo{
       i{
           position: absolute;
           padding-right: 20px;
           margin: 10px;
           width: 200px;
           height:$height-head;
           font-size:80px;
           color: $btn-bac;
       }

   }
   .serche_bar{
   padding-right:35px;
   margin-right:100px;
   position: absolute;
   right:20px;
   top: 45px;
   
input{
   width: 600px;
   height:50px;
   padding-right: 45px;
   padding-left: 5px;
   font-size: $font-s;
   outline: none;
   background-color:$bac-part;
   border: $border;
   border-radius: 5px;
   box-shadow: 5px 5px 0px 0px rgba(128, 128, 128, 0.404);
   
}
   i{
   position: absolute;
   right:50px;
   top: 15px;
   font-size: 20px;
   cursor: pointer;
   }
   }
    .purchase_records{
       position: absolute;
       left: 60px;
       top: 50px;
       color: $btn-bac;
       a{
         color: $btn-bac;
       i{
           font-size: $font-s-i;
           cursor: pointer;
       }
       }
    }
   
    .cart{
       position: absolute;
       left: 25px;
       top: 50px;
       color: $btn-bac;
       gap: 45px;
       a{
         color: $btn-bac;
       i{
           font-size: $font-s-i;
          cursor: pointer;

       }
      }
    }
 }
 .cart-empty{
   background-color: $bac-part;
   position: absolute;
   width:700px;
   height: 450px;
   right: 400px;
   top:250px;
   display: block;
  
   p{
      display: $display-f;
      border-bottom:$border;
      height: 50px;
      position: absolute;
      top: 10px;
   }
  
   h2{
      position: absolute;
   width:700px;
   height: 450px;
   right: 40px;
   top:200px;
   display: flex;
      justify-content: center;
      text-align: center;
   }

 }